<% authUser = User.find(session[:user_id]) %>
<h2>Welcome <%= authUser.name %></h2>

<p id="notice"><%= notice %></p>

<ul>

  <li><%= link_to 'Edit Profile', :controller => :users, :action => :edit, id: session[:user_id] %></li>

  <% if authUser.is_admin %>

      <li><%= link_to 'Manage Admins', :controller => :users, :action => :index_admins %></li>
      <li><%= link_to 'Manage Users', :controller => :users, :action => :index_users %></li>
      <li><%= link_to 'Manage Accounts', accounts_path %></li>
      <li><%= link_to 'Manage Account Requests', account_requests_path  %></li>
      <li><%= link_to 'Manage Transactions', :controller => :transactions, :action => :manage  %></li>

  <% else %>

      <li><%= link_to 'Accounts', accounts_path %></li>
      <li><%= link_to 'Friends', friends_path  %></li>
      <li><%= link_to 'View Transactions', transactions_path  %></li>
      <li><%= link_to 'Make a deposit', :controller => :transactions, :action => :deposit %> </li>
      <li><%= link_to 'Make a withdrawal', :controller => :transactions, :action => :withdraw  %> </li>
      <li><%= link_to 'Borrow from a friend', :controller => :transactions, :action => :borrow %> </li>
      <li><%= link_to 'Send to a friend', :controller => :transactions, :action => :lend %> </li>

  <% end %>
</ul>