<% @page_title = 'Login' -%>
<div class="container" align="center">
<hr>
  <h1 align="center"><strong>Welcome</strong></h1>
<hr>
<div class="container" align="center">
<% if flash[:notice] %>
  <h3><%= flash[:notice] %></h3>
<% end %>

<%= form_tag(:controller => 'sessions', :action => 'create') do %>
  <p>Email:<br> <%= text_field_tag :login_email %></p>
      <br>
  <p>Password:<br><%= password_field_tag :login_password %></p>
      <br>
  <%= submit_tag 'Log In', :class => 'btn btn-success btn-lg' %>
<% end %>
  <br>
  <p><strong>Are you a new user? </strong><br> <br>
    <%= link_to 'Sign Up!', signup_path, :class => 'btn btn-primary btn-lg' %>
  </p>
</div>
</div>