<h1>Friend List</h1>

<p><%= flash[:notice] %></p>

<table class="table table-striped">
  <tr>
    <th>Friend Name</th>
    <th>Actions</th>
  </tr>
  <% @friends.each do |friend| %>
      <tr>
        <td><%= User.find(friend.friend2_id).name %></td>
        <td><%= link_to "Send", :controller => :transactions, :action => :lend %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Add New Friends', friends_search_path %>
<br>
<%= link_to 'Back', home_path %>