<h1>Friend List</h1>

<table border="1">
  <tr>
    <th>Friend Name</th>
    <th>Actions</th>
  </tr>
  <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.friend2_id %></td>
        <td>Transfer</td>
      </tr>
  <% end %>
</table>

<%= link_to 'Add New Friends', friends_search_path %>
<br>
<%= link_to 'Borrow Request', users_path %>
<br>
<%= link_to 'Approve Borrow Request', users_path %>
<br>
<%= link_to 'Back', home_path %>