<H1>Search Friends</H1>
<p>
<%= form_tag(friends_path, :method => 'get', id: 'search-friends') do %>
    <p>
      <%= 'Enter Full Name or Email' %>
      <%= text_field_tag :search %>
    </p>
    <%= submit_tag 'Search' %>
<% end %>

<% if @users.present? %>
Users are present
<% else %>
<p>No Users found Matching with <%= params[:search] %></p>
<% end %>

<%= link_to 'Back', friends_path %>