<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><text style="color:#FF0000;">  <%= '*(required)' %> </text><br><%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><text style="color:#FF0000;">  <%= '*(required)' %> </text><br><%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><text style="color:#FF0000;"> <%= '*(required)' %></text><br><%= f.password_field :password%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>