<% @page_title = 'Sign Up' %>
<div class="container" align="center">
  <hr>
  <h1 align="center"><strong>Sign Up</strong></h1>
  <hr>
<p>
  <%= form_for @user do |f|%>
    <p> Name: &nbsp &nbsp<%= f.text_field :name %> </p>
    <p> Email: &nbsp &nbsp <%= f.text_field :email %> </p>
    <p> Password: &nbsp &nbsp <%= f.password_field :password %> </p>
    <p> Confirm Password: &nbsp &nbsp <%= f.password_field :password %> </p>
      <br>
    <%= f.submit :Signup, :class => 'btn btn-danger btn-lg' %>
      <br> <br>
      <%= link_to 'Back to Home', login_path, :class => 'btn btn-primary btn-lg' %>
<% end %>
<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error_message| %>
        <%= error_message %> <br>
    <% end %>
<% end %>
</p>


</div>