<table class="table table-striped">
  <tr>
    <th>Amount</th>
    <th>From</th>
    <th>To</th>
    <th>Approve</th>
    <th>Decline</th>
  </tr>

  <% if !@transactions.nil? then @transactions.each do |txn| %>
          <tr>
            <td><%= txn.amount %></td>
            <td><%= txn.from_account_id %></td>
            <td><%= txn.to_account_id %></td>
            <td>
              <%= link_to 'Approve', {:controller => :transactions, :action => :approve,
                                              :txn_id => txn.id }, {:method => :put} %>
            </td>
            <td>
              <%= link_to 'Decline', {:controller => :transactions, :action => :decline,
                                      :txn_id => txn.id }, {:method => :put} %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>