<h1> Make a deposit</h1>
<hr>
<hr>
<h3 id="notice"><%= notice %></h3>
<div class="container">
  <%= form_for @transaction, :url => { :action => :create_deposit} do |f| %>
      <% if @transaction.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this account from being saved:</h2>

            <ul>
              <% @transaction.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :txn_type, :value => 'Transaction Type'%>&nbsp;&nbsp;&nbsp;&nbsp;
        <%=Transaction::TYPES[0] %> <br />
      </div>
      <hr>
      <div class="field">
        <b>Account ID to deposit to </b>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.select :to_account, options_for_select(Account.all.map {|a| a.account_number}), {}, {:multiple => false} %>
      </div>
      <hr>
      <div class="field">
        <%= f.label :amount %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.text_field :amount %>
      </div>
      <hr>
      <div class="actions">
        <%= f.submit :value =>  'Deposit' %>
      </div>

  <% end %>
</div>
<br>
<%= link_to 'Back', home_path %>