<% authUser = User.find(session[:user_id]) %>

<% if !authUser.is_admin %>

    <h1>My Transactions: TODO filter to this users! </h1>

    <table class="table table-striped">
      <tr>
        <th>Transaction Date</th>
        <th>Transaction Type</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.effective_date %></td>
            <td><%= transaction.txn_type %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.status %></td>
            <% if transaction.status = 'Pending' %>
                <td>Cancel</td>
            <% else %>
                <td></td>
            <% end %>
          </tr>
      <% end %>
    </table>

<% end %>

<%= link_to 'Back', :controller => :sessions, :action => :index %>