<!DOCTYPE html>
<html>
<head>
  <title>BankApplication</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="container">
<div align="center"><%=image_tag('bank_banner.png', width: '50%', alt: 'banner')%></div>
<hr>
  <div class="container-fluid">
     Home: <%= link_to image_tag('home_icon.png', size:'30x30', alt:'Home'), home_path %> &nbsp &nbsp
     Logout: <%= link_to image_tag('power_button.png', size:'30x30', alt:'Logout'), logout_path %>
  </div>
<hr>

<%= yield %>
</body>
</html>