<!DOCTYPE html>
<html>
<head>
  <title>BankApplication</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="container">
<div align="center"><%=image_tag('bank_banner.png', width: '50%', alt: 'banner')%></div>
  <div class="container-fluid">
  </div>
</nav>

<%= yield %>
</body>
</html>