<%= form_for @account do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.allPlain, :id , :name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, options_for_select(Account::STATUS_OPTIONS, :selected => f.object.status), {:include_blank => "Please select"}, {:multiple => false} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
