<h1>View Account</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @account.user.name %>
</p>

<p>
  <b>Account number:</b>
  <%= @account.id %>
</p>

<p>
  <b>Status:</b>
  <%= @account.status %>
</p>

<p>
  <b>Balance:</b>
  <%= @account.balance %>
</p>

<b>Sent Transactions</b>
<%= render 'transactions/transaction_table', :transactions => @account.sent_transactions %>
<br>

<b>Received Transactions</b>
<%= render 'transactions/transaction_table', :transactions => @account.received_transactions %>
<br>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Destroy', @account, method: :delete, data: { confirm: 'Are you sure you want to delete this account?' } %> |
<%= link_to 'Back', accounts_path %>
